/**
 *  Styling of woocommerce status
 *  @author: Ameer <smartameer@icloud.com>
 */
.order-status.status-readyfordelivery {
  background: #c8d7e1;
  color: #2e4453
}

.order-status.status-pickedservice {
  background: #80baff;
  color: #18232b;
}

.order-status.status-onroute {
  background: #f8dda7;
  color: #94660c
}

.order-status.status-delivered {
  background: #c6e1c6;
  color: #5b841b
}
